*{
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family: header_footer;
    src: url("../font/font_header_footer.otf");
}
@font-face{
    font-family: body;
    src: url("../font/body.ttf");
}
header {
    font-family: header_footer;
    width: 100%;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 15px;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav ul li {  
    margin-right: 10px;
}
a:hover{
    color: black;
    background-color: #dedcdc;
    border-radius: 50px;
    transition: 0.6s;
}
nav a{
    position: relative;
    left: 150px;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 21px;
    padding: 20px;
}
#divBusca {
    position: relative;
    left: 100px;
    background-color: white;
    border: solid 1px;
    border-radius: 20px;
    width: 271px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

#txtBusca {
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    height: 36px;
    width: 230px;
}
.carrinho{
    margin-right: 50px;
}
#marcas{
    margin-top: 50px;
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.logo_marcas img{
    border-radius: 100%;
}
.legenda {
    text-align: center;
    font-size: 21px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    font-family: body;


    
  }
  
  .produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 514px;
    height: 590px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
   
   
  }
  
  .img_produtos {
    border-radius: 20px;
    width: 400px;
    height: 400px;
  }
  
  .texto_prod{
    text-align: center;
    font-size: 21px;
    line-height: 50px;
    

  }
  
  button {
    width: 144px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    background-color: black;
    color: white;
    margin-top: 10px;
  }
  
  button:hover {
    color: black;
    background-color: #dedcdc;
    border-radius: 20px;
    transition: 0.6s;
  }

footer {
    font-family: header_footer;
    width: 100%;
    height: 223px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 15px;
    margin-top: 50px;
}
h4{
    color: white;
}
#titulo_rede_social{
    text-align: center;
}
.contato ul, .rede_social ul {
    color: white;
    list-style-type: none;
    padding: 0;
}

.contato h4, .rede_social h4 {
    margin-bottom: 10px;
}

.rede_social ul li {
    display: inline-block;
    margin-right: 10px;
}

.rede_social ul li:last-child {
    margin-right: 0;
}

